services:
  - type: static
    name: 340-real-estate
    buildCommand: npm install && PUBLIC_URL=/ npm run build
    staticPublishPath: build
    
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUBLIC_URL
        value: /
      - key: REACT_APP_FIREBASE_API_KEY
        sync: false
      - key: REACT_APP_FIREBASE_AUTH_DOMAIN
        sync: false
      - key: REACT_APP_FIREBASE_PROJECT_ID
        sync: false
      - key: REACT_APP_FIREBASE_STORAGE_BUCKET
        sync: false
      - key: REACT_APP_FIREBASE_MESSAGING_SENDER_ID
        sync: false
      - key: REACT_APP_FIREBASE_APP_ID
        sync: false
      - key: REACT_APP_MAPTILER_API_KEY
        sync: false
      - key: REACT_APP_SUPABASE_URL
        sync: false
      - key: REACT_APP_SUPABASE_ANON_KEY
        sync: false
